<div class="container">
  <h1>Form Validation Example</h1>
  <form [formGroup]="form">
    <div>
      <label for="email">email</label><br />
      <input type="email" formControlName="email" name="email" id="" />
      <br />
      <span *ngIf="formErrors['email']" style="color: red;">{{
        formErrors["email"]
      }}</span>
    </div>
    <div>
      <label for="text">text</label><br />
      <input type="text" formControlName="name" name="name" id="" />
      <br />
      <span *ngIf="formErrors['name']" style="color: red;">{{
        formErrors["name"]
      }}</span>
    </div>
    <div>
      <label for="cedula">cedula</label><br />
      <input type="text" formControlName="cedula" name="cedula" id="" />
      <br />
      <span *ngIf="formErrors['cedula']" style="color: red;">{{
        formErrors["cedula"]
      }}</span>
    </div>
  </form>
</div>
